In [1]:
#import dependencies
import json
import pandas as pd
from pprint import pprint
from sqlalchemy import create_engine
from config import user
from config import pw

In [5]:
#load json data from data folder 
data = json.load(open('data/dogs1.json'))

#pretty print json data
# pprint(data)

Animals dictionary is a list of dictionaries.
We want to extract id, name, breed (primary), contact(city and state).

In [6]:
# confirming that there are 100 adoptable dogs per page (json file)
len(data['animals'])

100

In [7]:
#create function called petfinder to input json file number and extract information needed as a list of dictionaries
def petfinder(json_num):
    data = json.load(open(f'data/dogs{json_num}.json'))
    
    pet_list = []
    
    for i in range(len(data['animals'])): 
        breed = data['animals'][i]['breeds']['primary']
        city = data['animals'][i]['contact']['address']['city']
        state = data['animals'][i]['contact']['address']['state']
        pet_id = data['animals'][i]['id']
        name = data['animals'][i]['name']
    
        pet_dict={}

        pet_dict = {
            "breed": breed,
            "city": city,
            "state": state,
            "pet_id": pet_id,
            "name": name,
            }
    
        pet_list.append(pet_dict)
    
    return pet_list

In [8]:
#concatenate five total lists of dicitonaries (500 adoptable dogs)
list1 = list(petfinder(1))
list2 = list(petfinder(2))
list3 = list(petfinder(3))
list4 = list(petfinder(4))
list5 = list(petfinder(5))
all_dogs=list1+list2+list3+list4+list5

In [9]:
#print list of all dogs
# all_dogs

In [10]:
#create dataframe using list of dicitonaries
dogs_df = pd.DataFrame(all_dogs)
dogs_df

,breed,city,state,pet_id,name
0,Redbone Coonhound,Andover,MA,48752074,Jade
1,Labrador Retriever,New York,NY,48752069,Wish
2,Shiba Inu,TULSA,OK,48752062,Molly
3,Retriever,White Plains,NY,48751967,Brindi
4,Greyhound,Wasco,CA,48751842,(FRECKLES) AVAILABLE AUG 24 2020
...,...,...,...,...,...
495,Pit Bull Terrier,Dallas,TX,48750352,1105763
496,Mixed Breed,Santa Fe,NM,48750344,ZUMA
497,Maltese,Santa Cruz,CA,48750345,MUPPET*
498,Mixed Breed,Santa Fe,NM,48750342,JEREMIAH
499,Mixed Breed,Santa Fe,NM,48750343,SKYE

In [11]:
# new data frame with split value columns 
new = dogs_df["breed"].str.split(" / ", expand = True) 
  
# making separate first name column from new data frame 
dogs_df["primary breed"]= new[0] 
  
# making separate last name column from new data frame 
dogs_df["secondary breed"]= new[1] 
  
# # see all dogs to see if split happened correctly
# pd.set_option('display.max_rows', dogs_df.shape[0]+1)
  
# df display 
dogs_df

,breed,city,state,pet_id,name,primary breed,secondary breed
0,Redbone Coonhound,Andover,MA,48752074,Jade,Redbone Coonhound,None
1,Labrador Retriever,New York,NY,48752069,Wish,Labrador Retriever,None
2,Shiba Inu,TULSA,OK,48752062,Molly,Shiba Inu,None
3,Retriever,White Plains,NY,48751967,Brindi,Retriever,None
4,Greyhound,Wasco,CA,48751842,(FRECKLES) AVAILABLE AUG 24 2020,Greyhound,None
...,...,...,...,...,...,...,...
495,Pit Bull Terrier,Dallas,TX,48750352,1105763,Pit Bull Terrier,None
496,Mixed Breed,Santa Fe,NM,48750344,ZUMA,Mixed Breed,None
497,Maltese,Santa Cruz,CA,48750345,MUPPET*,Maltese,None
498,Mixed Breed,Santa Fe,NM,48750342,JEREMIAH,Mixed Breed,None
499,Mixed Breed,Santa Fe,NM,48750343,SKYE,Mixed Breed,None

In [12]:
# Dropping extra breed columns 
dogs_df.drop(columns =["breed"], inplace = True) 
dogs_df.drop(columns =["secondary breed"], inplace = True) 
dogs_df.rename(columns = {'primary breed':'breed'}, inplace = True) 
dogs_df.head()

,city,state,pet_id,name,breed
0,Andover,MA,48752074,Jade,Redbone Coonhound
1,New York,NY,48752069,Wish,Labrador Retriever
2,TULSA,OK,48752062,Molly,Shiba Inu
3,White Plains,NY,48751967,Brindi,Retriever
4,Wasco,CA,48751842,(FRECKLES) AVAILABLE AUG 24 2020,Greyhound

In [13]:
#check data types
dogs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   city    500 non-null    object
 1   state   500 non-null    object
 2   pet_id  500 non-null    int64
 3   name    500 non-null    object
 4   breed   500 non-null    object
dtypes: int64(1), object(4)
memory usage: 19.7+ KB

In [14]:
#check for duplicate IDs
dogs_df['pet_id'].value_counts().head(10)

48751054    2
48751758    2
48750947    2
48751778    2
48751719    2
48751914    1
48751916    1
48751917    1
48751918    1
48751919    1
Name: pet_id, dtype: int64

In [15]:
#use dup_index function to create list of indices of duplicate pet_id
dup_list = []

def dup_index(num):
    dup = dogs_df.loc[dogs_df['pet_id'] == num].index[0]
    if dup not in dup_list:
        dup_list.append(dup)
    return dup_list

In [16]:
#use duplicate pet_id in function
dup_index(48751054)
dup_index(48751758)
dup_index(48750947)
dup_index(48751778)
dup_index(48751719)
dup_list

[199, 98, 97, 96, 99]

In [17]:
clean_dogs_df = dogs_df.drop(dup_list)
#check that there are no more duplicate IDs
clean_dogs_df['pet_id'].value_counts().head()

48750591    1
48750886    1
48751912    1
48750889    1
48751914    1
Name: pet_id, dtype: int64

In [92]:
#aggregate breed to see number of breeds available for adoption
breed_count = pd.DataFrame(clean_dogs_df['breed'].value_counts())
breed_count

                            breed
Labrador Retriever             65
Pit Bull Terrier               56
Mixed Breed                    41
Chihuahua                      40
German Shepherd Dog            26
...                           ...
Bloodhound                      1
German Shorthaired Pointer      1
Cairn Terrier                   1
Akita                           1
Foxhound                        1

[78 rows x 1 columns]

In [ ]:
#output dataframe as csv file to load into SQL/relational database (if needed)
# clean_dogs_df.to_csv("data/petfinder_dogs.csv", index=False)

In [2]:
# create database connection
database_name = 'petfinder_db'
engine = create_engine(f'postgresql://{user}:{pw}@localhost:5432/{database_name}')

In [3]:
# Confirm tables
engine.table_names()

['petfinder_dogs', 'dog_links', 'dog_traits']

In [19]:
# Load data 
clean_dogs_df.to_sql(name='petfinder_dogs', con=engine, if_exists='append', index=False)